* {
box-sizing:border-box;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
.promo{
    height: 800px;
    background: url('../img/promo.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.logo .logo-img{
    display: block;
    margin: 0 auto;
}
h1{
    margin-top: 53px;
}
.title{
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
h2 .title{
    /* margin-top: 30px; */
}
.simple .title-big{
    /* margin-top: 21px; */
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.promo-text{
    text-align: center;
    margin: 23px 0 0 0;
    color: white;
    font-family: Roboto;
    font-size: 21px;
    line-height: 28px;
    font-weight: 100;
    
}
.text-strong{
    color: #f9bf3b;
    font-weight: bold;
}
.btn-promo{
    display: block;
    margin: 0 auto;
    margin-top: 74px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 0px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    outline: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}
.more-text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 73px;
}
.more img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 84px 0 75px 0;
}
.waiting-header{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.waiting-divider{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}
.waiting-subheader{
    margin-top: 16px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.wating-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.waiting-item{
    width: 342px;
    vertical-align: top;
    text-align: center;
}
.waiting-item img{
    width: 100%;
}
.waiting-text{
    margin-top: 32px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization-header{
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    line-height: 12px;
    text-transform: uppercase;
}
.optimization-text{
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
}
.optimization-text span{
    font-weight: 700;
}
.bltext{
    margin-left: 391px;
    width: 750px;
}
.optimization-img{
    position: absolute;
    top: -48px;
    left: -240px;
    z-index: -1;

}

.finish{
    min-height: 447px;
    background: url('../img/Layer 33.png') center center/cover no-repeat;
    padding: 85px 0 79px 0;
}
.finish-header{
    text-align: center;
    color: #efefef;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

}
.finisIcon-wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish-item{
    vertical-align: top;
    width: 226px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
.finishIcon-text{
    margin-top: 26px;
}

.gift {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
}
.gift img {
    display: block;
    margin: 0 auto;

}
.gift-text {
    margin: 0 auto;
    margin-top: 42px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}
.gift .btn-promo {
    margin-top: 52px;
}

.btn-promo:hover{
    box-shadow: none;
    cursor: pointer;
}

.conference {
    min-height: 515px;
    padding: 89px 0 65px 0;
    text-align: center;
}
.conference img {
    display: block;
    margin: 0 auto;
}
.conf-header {
    margin-top: 37px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}
.conf-text {
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.conf-text span {
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-transform: none;
}

footer {
    height: 166px;
    padding: 60px 69px;
    background-color: #1a1a1a;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
}
footer a {
    color: #888888;
}
footer a:hover {
    text-decoration: none;
}
footer p {
    margin-top: 10px;
}